.main__container{
    max-width: 1110px;
    height: auto;
    margin: 0 auto;
    position: relative;
    display: flex ;
    justify-content: space-between;
    @media screen and (max-width:775px) {
        display: block;
        padding-top: 40px;;
    }


  }
.main__input{
    padding: 18px 270px 18px 74px;
    margin-top: 48px;
    @media screen and (max-width:775px) {
        display: block;
        margin-bottom:40px;
        
        
    }
}
.main__img{
    position: absolute;
    left: 3.67%;
    right: 72.58%;
    top: 64.93%;
    bottom: 33.93%;
}
.main__sub-title{
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
color: #111517;
background: #FFFFFF;
box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
border-radius: 5px;
padding: 18px 77px 18px 24px;
}
.main__box{
    position: relative;
    display: flex;
    align-items: end;
}
.hero__img2{
    position: absolute;
    left: 69.75%;
    right: -109.25%;
    top: 69.36%;
    bottom: 86.29%;

}
.hero__img2:hover  .hero__list{
    opacity: 1;
    position: absolute;
    top: 204px;
    left: 1047px;
    background: #FFFFFF;
box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
border-radius: 5px;
padding: 16px 110px 16px 24px;

}
.hero__filterRegion {
    width: 200px;
    height: 56px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 2px 9px rgb(0 0 0 / 5%);
    box-shadow: 0px 2px 9px rgb(0 0 0 / 5%);
    border-radius: 5px;
    padding: 18px 24px;
}
.main__img{
    @media screen {
        position: absolute;
        left: 3.67%;
        right: 72.58%;
        top: 45.93%;
        bottom: 33.93%;
    }
}
.container{
    @media screen and (max-width:1100px){
        width: 1080px ;
        height: 80px;
    }
    @media screen and (max-width:775px){
        width: 715px ;
        height: 80px;
    }
    @media screen and (max-width:600px){
        width: 565px ;
        height: 80px;
    }

}
.hero__list{
    @media screen  and (max-width:775px){
        justify-content: center;
        margin: 0 auto;
    }
}